#  Application Port
PORT=5000

# Database configuration
DB_HOST=db                   # Docker Compose service name for PostgreSQL
DB_PORT=5432                 # Default PostgreSQL port
DB_USER=postgres             # PostgreSQL username
DB_PASSWORD=123456           # PostgreSQL password
DB_NAME=leadify              # Database name

# JWT Secret Key for authentication
SECRET_KEY=your_jwt_secret_key
JWT_EXPIRATION_TIME=

# Email Configuration for Nodemailer (using Outlook as an example)
EMAIL_USER=your_email@example.com     # Your email address
EMAIL_PASS=your_email_password        # Your email password (or app-specific password if 2FA is enabled)

ALLOW_SUPER_ADMIN_CREATION=false

BASE_URL=http://localhost:5000/
SESSION_EXPIRATION_TIME=7

SENDGRID_API_KEY=your_sendgrid_api_key  # SendGrid API key for sending emails (if using SendGrid)
