/* -------------------------------------------------------------------------- */
/* Variables for Global Injection (Lightweight)                               */
/* -------------------------------------------------------------------------- */

// App Colors
$primary: #7849ff;
$primary-hover: #9360ff;
$primary-light: rgba(120, 73, 255, 0.1);
$primary-light-hover: rgba(120, 73, 255, 0.2);
$primary-light-active: rgba(120, 73, 255, 0.3);

// Functional Colors
$brown: #a19b8d;
$brown-light: #686252;
$success: #2fb350;
$danger: #ef4444;
$gray: #9ca3af;
$info: #1f1f2e;
$error: #ff6868;
$yellow: #eab308;

// Layout
$border: #2e2e3a;
$background-light: #16151f;
$padding-primary: 40px;

$radius-base: 2rem;
$radius-md: 0.5rem;
$radius-lg: 1rem;

$height-input: 56px;
$height-button: 44px;